

<div class="col-md-6" id="aboutPageHeader">

  <h1>What is YOUnity?</h1>

  <p>YOUnity is a service that seeks to dissolve the boundaries between
    people that want to help make an impact during times of need and the
    current donation process. Not only is finding the best charity time
    consuming, but it’s also hard to know which charities to choose.
    When it comes to good, there should be as little barriers as possible
    and thinking about where your money is going shouldn’t be one of them.
    Our mission with this service is to mitigate all political aspects of
    the donation process by spreading donation efforts out over several of
    the most reputable organizations (chosen very carefully by our team)
    for a certain cause. This allows philanthropists to focus their
    positive efforts towards a chosen cause instead of an individual
    organization.<p>

  <h3 style="font-weight: bold">When good is intended, maximum goodness
    should be yielded.</h3>

</div>
