<h1 id="causeheader">{{causeData.causeName}}</h1>

<div class="col-md-6" style="text-align: center;">

  <img ng-src={{causeData.causeImage}}>

</div>

<div class="col-md-6" style="text-align: center;">

  <h1>76346 donators</h1>
  <h1>$349234 Raised</h1>
  <h1>GOAL: ${{causeData.donationGoal}}</h1>
  <h1>30 Days Left</h1>

  <button class="btn btn-primary btn-lg">Donate to Cause</button>

</div>

<br>

<div class="col-md-12">
  <p>
    {{causeData.causeDesc}}
  </p>

</div>


<div class="{{organizationColType}}" style="text-align: center;" ng-repeat="organization in causeData.organizations">
  <img style="width: 200px;" ng-src={{organization.logo}}>
  <h3>{{organization.name}}</h3>
  <p>{{organization.description}}</p>
</div>



