<h1 id="causeheader">{{causeData.causeName}}</h1>

<div class="col-md-6" style="text-align: center;">

  <img ng-src={{causeData.causeImage}}>

</div>

<div class="col-md-6" style="text-align: center;">

  <h1>76346 donators</h1>
  <h1>$349234 Raised</h1>
  <h1>GOAL: ${{causeData.donationGoal}}</h1>
  <h1>30 Days Left</h1>

  <button class="btn btn-primary btn-lg">Donate to Cause</button>

</div>

<div>
  <p>
    {{causeData.causeDesc}}
  </p>
</div>
